@{
    ViewData["Title"] = "Login";
}

@model LoginUser

<div class="formsContainer">

<form asp-action="CheckLogIn" asp-controller="home" method="post">
    <h3>Log in</h3>
    <div class="inputDivs">
        <span asp-validation-for="LoginEmail"></span>
        <div>
            <label asp-for="LoginEmail">Email</label>
            <input asp-for="LoginEmail" type="text">
        </div>
    </div>

    <div class="inputDivs">
        <span asp-validation-for="LoginPassword"></span>
        <div>
            <label asp-for="LoginPassword">Password</label>
            <input asp-for="LoginPassword" type="password">
        </div>   
    </div>
    <button type="submit"> Log in</button>
</form>

<a href="/">Need to Regist?</a>

</div>


